article p {
    font-size: 20px;
    font-weight: 700;
    padding: 0 7px 0 7px;
    margin:0;
}

.article-sport {
    background-image: url(../images/sports.jpg);
    background-size: cover;
}

.article-techno {
    background-image: url(../images/techno.jpg);
    background-size: cover;
}

.articles {
    background-color: #add8e6;
    border-top: 3px #ffffff solid;
}

.article-genre {
    color: #ffffff;
    font-weight: 800;
    font-size: 25px;
    padding-left: 8px;
}

.news1, .news2, .news3 {
    width: 100%;
}