footer {
    width: 100%-20px;
    height: 200px;
    background-color: #000000;
    color: #808080;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-footer {
    color: #808080;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 150px;
}

