.form-container {
    background-color: #a9a9a9;
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.ul-form {
    background-color: #a9a9a9;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.li-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
}

.error {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ff0000;
    font-size: 14px;
    visibility: hidden;
    width: 80%;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 0 5px 0;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

input {
    width: 80%;
    border: 2px #000000 solid;
}

button {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 22px;
    background-color: #e9967a;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
}

.greetings {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 0 5px 0;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
}